<!DOCTYPE html5>
<HTML>
    <head>
    <title>IC2140 IoT</title>
    </head>
    <body>
    <h1 align=center>IC2140 IoT</h1>
    </body>
    <hr>
    <table align=center>
        <tr>
            <th align=center> node_id </th>
            <th align=center> node_loc </th>
            <th align=center> temperature </th>
            <th align=center> humidity </th>
            <th align=center> light level </th>
            <th align=center> sound level </th>
            <th align=center> time </th>
        </tr>
        {% for obj in objects %}
            <tr> 
                <td align=center> {{ obj.node_id }} </td>
                <td align=center> {{ obj.node_loc }} </td>
                <td align=center> {{ obj.temp }} </td>
                <td align=center> {{ obj.humid }} </td>
                <td align=center> {{ obj.light }} </td>
                <td align=center> {{ obj.sound }} </td>
                <td align=center> {{ obj.date_created }} </td>
            </tr>
        {% endfor %}
    </table>
</HTML>